@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');


*{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

:root {
--red: #F12B01 !important;
--blue:#183883 !important; 
--white:#fff;
--aliceblue : #DAE1F2;
--shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
--aqua:#25B4A7;
}

html{
    scroll-behavior: smooth;
}
html::-webkit-scrollbar{
   width: 0.9vw;
}
html::-webkit-scrollbar-track{
   background:#dbdbdb;
}
/* html::-webkit-scrollbar-track:hover{
   background: #a7a7a7;
} */
html::-webkit-scrollbar-thumb{
   background: var(--blue);
}
/* html::-webkit-scrollbar-thumb:hover{
   background:var(--purple-dark);
} */

body{
    font-family: 'Roboto', sans-serif;
    background-color: var(--white);
}

a{
    text-decoration: none !important;
    color: #161616  !important;
}

a:hover{
    color: var(--red) !important;
}

.navbar{
    padding-top: 30px !important;
    box-shadow: 1px 0 10px rgb(61, 61, 61);
}
.nav-link{
    font-size: 16px !important;
    /* font-weight: 500; */
    position: relative;
    text-align: center !important;
}
.nav-link::after{
    content: '';
    width: 00px;
    height: 3px;
    position: absolute;
    background-color:var(--red) ;
    top:35px;
    left: 0px;
    transition: 0.3s ease-in-out;
}

.nav-link:hover::after{

width: 100%;
}

.test-ride-img img{
    width: 25px;

}
.test-ride-img a{
padding: 2px;
font-size: 13px;
}   
 @media screen and (max-width:1000px) {
    .test-ride-img{
        display: none !important;
    }
 }


 .copyrite-sec{
    padding: 30px 10px;
    text-align: center;
    background-color: var(--aliceblue);
 }
 .social-icon{
    width: 40px;
    margin: 6px;
    transition: .4s ease-in-out;
    filter: grayscale(70%);
    margin-top: 5px ;
 }
 .social-icon:hover{
    transform: rotate(360deg);
   filter: grayscale(0);
 }
 .footer-details{
    background-color: var(--blue);
    padding: 70px 10px;
    position: relative;
 
 }
 .footer-logo{
    padding: 40px 0px;
    background-color: var(--white);
 }
 .footer-logo img{
    margin-left: 50px;
 }
 .footer-content-heading{
    color: var(--white);
    font-weight: bold;

 }
 .btn-white{
    background-color: var(--white) !important;
    padding: 10px 70px !important;
    font-size: 13px !important;
    transition: 0.3s ease-in-out !important;
 }
 .btn-white:hover{
    background: transparent !important;
    border: 1px solid var(--white) !important;
    color: var(--white) !important;
 }

.footer-details::after{
    content: '';
    background-color: var(--white);
    width: 70px;
    height: 100%;
    position: absolute;
    left: 0;
    top:0;
  
}
@media screen and (max-width:800px) {
    .footer-details::after{
        content: '';
        display: none !important;
    }
}

.big-heading{
    text-transform: uppercase;
    font-size: 80px;
    font-weight: bold;
    opacity: 0.05;
    position: absolute;
    top: 0px;
}
.heading-red{
    background-color: var(--red);
    color: var(--white);
    width: 50%;
    padding: 20px;
    margin-bottom: 20px;
    position: relative;
}
.heading-blue{
    background-color: var(--blue);
    color: var(--white);
    width: 50%;
    padding: 20px;
    margin-bottom: 20px;
    position: relative;
}
@media screen and (max-width:900px) {
    .heading-red{
      width: 100%;
      
    }
    .heading-blue{
        width: 100%;
    }
    .big-heading{
        font-size: 60px !important;
        top: 20px;
    }
}

.owl-prev, .owl-next {
  margin: 5px;
 }

.owl-prev {
    left:0;
    top: 100%;
   font-size: 30px !important;
   color: var(--white) !important;
   width: 50px;
   background-color: #F12B01 !important;
 }

 .owl-next {
   left: 50px;
    top:100%;
    font-size: 30px !important;
    color: var(--white) !important;
    width: 50px;
    background-color: #F12B01 !important;
 }
 .play-btn{
    position: absolute;
width: 120px !important;
    /* z-index: 1; */
    top: 45%;
    left: 40%;

 }

 #product-tabs{
    background-color: #F4F4F4 !important;
    margin-bottom: 20px;
 }

 #product-tabs .active{
    color: var(--red) !important;
    position: relative;
    
 }
 #product-tabs .active::after{
    content: '';
    width: 100%;
    height: 4px;
    position: absolute;
    background-color:var(--red) !important;
    top:35px;
    left: 0px;
 }


 .home-product-content .carousel-control-prev{

background-color: var(--red) !important;
width: 40px;
height: 40px;
position:absolute;
top: 50%;
margin-left: 15px;
border-radius: 100%;
 }
 .home-product-content .carousel-control-next{
    background-color: var(--red) !important;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 50%;
    margin-right: 10px;
border-radius: 100%;

 }
 .button-primary{
    background-color: var(--blue) !important;
    color: var(--white) !important;
    padding: 15px 30px;
    text-transform: uppercase;
    outline:none;
    border: none;
    font-size: 14px;
    margin-bottom: 15px;
    border: 2px solid var(--blue);
    text-align: center;
    transition: 0.3s ease-in-out;
 }
 .button-primary:hover{
    background-color:var(--white) !important;
    color: var(--blue) !important;
 }
 .button-primary-div{
    display: flex;
    justify-content: center;
 }
 .bg-light-blue{
      background-color: #F4F4F4 !important;
 }
 .stories-slider .card{
    overflow: hidden;
 }
 .stories-slider img{
    transition: 0.5s ease-in-out;
 }
 .stories-slider img:hover{
transform: scale(1.2);
 }
 .breadcrumb{
    background-color: var(--white) !important;
    font-size: 13px;
 }


 /*scooter product page */
.product-card{
   margin: 20px 10px;
   background-color: var(--white) !important;
   transition: 0.3s ease-in-out;
}
.product-card:hover{
   box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.product-card-content{
   padding: 15px 10px;
}
.product-card-heading{
   font-size: 25px;
}
 .product-card-btn{
   background-color: var(--white);
   padding: 10px 30px;
   color: var(--blue);
   border: 2px solid var(--blue);
   float: right;
   transition: 0.3s ease-in-out;
 }
 .product-card-btn:hover{
background-color: var(--blue);
color: var(--white) !important;
 }
 .product-card-img{
overflow: hidden;
 }
 .product-card-img img{
transition: 0.3s ease-in-out;
 }

 .product-card:hover img{
   transform: scale(1.1);
 }

 .product-card-img-content{
   background:rgba(24, 56, 131, 0.8);
   padding-top: 5px;
   padding-left: 5px;
   display: flex;
   font-size: 15px;
   color: var(--white);
 }
 .product-card-img-content p{
   border-right: 1px solid var(--white);
   padding-right: 5px;
   padding-left: 5px;
   font-weight: bold;
 }
 .product-card-img-content span{
   display: block;
   text-transform:uppercase;
   font-size: 12px;
   font-weight: normal;
 }

 .product-tabs .nav-link{
   font-weight: bold;

 }
 .product-tabs .active .nav-link {
   background-color: var(--white) !important;
 }

 .product-overview-pr{
   font-size: 40px !important;
   margin: 0px 3px;
   padding: 46px 10px !important;
   font-weight: 400 !important;
   color: #333333;
   text-align: center !important;
 }

 .product-overview{
   background: url("./assets/img/overview-bg.webp")center;
   /* background-attachment: fixed; */
   background-size: cover;
 }
 .product-overview-content{
   padding: 60px;
   margin: 40px 40px;
   background-color: var(--white);
   position: relative;
   /* clip-path: polygon(0% 0%, 100% 0, 100% 72%, 80% 100%, 0% 100%); */
   /* -webkit-clip-path: polygon(0% 0%, 100% 0, 100% 72%, 80% 100%, 0% 100%); */
   filter: drop-shadow(-10px 11px 21px rgba(109, 109, 109, 0.31)) ;
    -webkit-filter: drop-shadow(-10px 11px 21px rgba(109, 109, 109, 0.31));
}
 .product-overview-content::before{
   content: '';
   position: absolute;
   width: 6px;
   height: 100%;
   top: 0;
   left: 0;
   background: linear-gradient(#49dacd, #a5fff7 10%, #49dacd 80%);
   
 }

 .product-color{
   background: url("./assets/img/n282-colors-bg-desk.webp") no-repeat center;
   background-size: cover;
 }

 .header-gradient{
   background: -webkit-linear-gradient(left, #cad2d7 0%, #eaf1f6 14%, #cdd7dc 32%, #edf3f7 49%, #eef4fe 75%, #c3ccd1 86%, #cad2d7 100%, #cad2d7 100%);
    background: linear-gradient(to right, #cad2d7 0%, #eaf1f6 14%, #cdd7dc 32%, #edf3f7 49%, #eef4fe 75%, #c3ccd1 86%, #cad2d7 100%, #cad2d7 100%);
 }
 .btn1,
 .btn2,
 .btn3,
 .btn4{
   border: none;
   width: 30px;
   height: 30px;
   border-radius: 5px;
   margin: 10px;
   box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
   transition: 0.3s ease-in-out;
 }
 .btn1:hover,
 .btn2:hover,
 .btn3:hover,
 .btn4:hover{
  transform: scale(1.2);
 }
 
 .specification-container{
   background: url("./assets/img/bg-specification.webp")center;
   background-size: cover;

 }
 td{
   border: none !important;
 }
 .product-spec-heading{
   color: var(--aqua) !important;
   font-weight: bold;
   border-right: 1px solid #25B4A7 !important;
 }
.card-header{
   background: linear-gradient(#49dacd, #a5fff7 10%, #49dacd 80%);
}

.product-overview-gallery .carousel-control-prev,
.product-overview-gallery .carousel-control-next{
   background-color: var(--aqua);
   width: 50px;
   height: 50px;
   position: absolute;
   top: 40%;
   border-radius: 100%;
}
.product-overview-gallery{
   background: url("./assets/img/n282-gallery-bg-desk.webp");
}

.btn-download{
   font-size: 14px !important;
   line-height: 18px;
   background-color: #fff;
   border: 2px solid #4c7da1 !important;
   color: #1f5d8a;
   margin-right: 20px;
   padding: 8px 35px;
   box-shadow: none;
   border-radius: 0 !important;
   text-transform: uppercase;
   transition: 0.3s ease-in-out;
}

.btn-download:hover{
   background-color: #1f5d8a;
   border: 2px solid #4c7da1;
   color: #fff !important;
}


.about-img-home{
   overflow: hidden;
   
   margin-bottom: 20px;
}

.carousel-indicators li{
   height: 12px !important;
   width: 12px !important;
   border-radius: 100% !important;
   background-color: var(--red) !important;
}

#hero-slider .carousel-control-prev,
#hero-slider .carousel-control-next{
   position: absolute !important;
   top: 45% !important;
   width: 3rem !important;
   height: 3rem;
   background: transparent !important;
   border: 3px solid var(--red) !important;
   border-radius: 999px;
}

@media screen and (max-width:900px){
   #hero-slider .carousel-control-prev,
#hero-slider .carousel-control-next{
  
   width: 2rem !important;
   height: 2rem !important;
  
}
}


#hero-slider .carousel-control-prev:hover,
#hero-slider .carousel-control-next:hover{
   background-color: var(--red) !important;
}

#hero-slider .carousel-control-prev{
   margin-left: 10px;
}


#hero-slider .carousel-control-next{
   margin-right: 10px;
}


.breadcrumb{
 padding-top: 20px !important;
 padding-bottom: 20px !important;
}
.breadcrumb-item{
   font-size: 15px;
}

.contact-text{
   font-size: 32px;
   margin: 30px 0;
   font-weight: bold;
}

.reach-us{
   padding: 80px 0 !important;
}

.reach-us i{
   display: none;
}

.vertical-line{
   background-color: var(--blue);
   width: 30%;
   height: 2px;
   top: 50%;
   position: absolute; 
   left:84%;
   float: right !important;
   -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        transform: rotate(90deg);

}


.contact-details{
   padding: 50px 20px !important;

}
.contact-details i{
   font-size: 40px;
opacity: .7;
}

.contact-details-text p{
margin: 0;
}

.contact-details-text p:nth-child(2){
   font-size: 25px;
   color: #183883;
   font-weight: bold;
}

#map {
   height: 500px;
 max-width: 100%;
 
}

@media screen and (max-width:710px){
   .vertical-line{
      display: none;
   }
   .reach-us{
      padding: 0px 0 !important;
   }
   .reach-us i{
      display: block;
      text-align: center;
   }
   .contact-details i{
      font-size: 20px;
       opacity: .7;
   }
   .contact-details-text p:nth-child(2){
      font-size: 1.1rem;
      color: #183883;
      font-weight: bold;
   }
}